{% extends "base.html" %}

{% block page_content %}
<ul class="user-list">

       
<div class="user-header">
    <h1>Best Friend</h1>

 <ul class='user-list'> 
{% for p in bestList %}
    {% if current_user.for_approval(True) %}
    <li class="user">
 <div class="user-avatar"><img src="{{current_user.avatar(80)}}"></div>
  <a class="btn btn-primary pull-right" name='add' data-id="{{p.id}}"  href="#">Cancel  X</a>
   <p>
       Name: {% if p.first_name %}{{ p.first_name }}{% endif %}{% if p.last_name %} {{ p.last_name }}<br>{% endif %}
       Age: {% if p.age %}{{ p.age}}<br>{% endif %}
       Address: {% if p.location %}<a href="http://maps.google.com?q={{ p.location }}">{{ p.location }}</a><br>{% endif %}
    </p>
    {% if p.bio %}<p>{{ p.bio }}</p>{% endif %}
    </li>
    {% endif %}
{% endfor %} 


</ul>


   

</div>
{% endblock %}





       
        




