{% extends "base.html" %}

{% block page_content %}
        
 <div class="container">
         <div class="jumbotron">
          <h1>Fast Monkey app</h1>
             <h2>Enjoy!</h2>
           </div>
               
         </div>
       
   
   
 <div class="container">
  <ul class='user-list'>
   {% for p in f_list %}
 <li class="user">
        <!-- First Featurette -->
        <div class="featurette" id="follow">
            <img class="featurette-image img-circle img-responsive pull-right" src="{{current_user.avatar(80)}}">
            
    <a class="btn btn-danger pull-right" name='unfollow' data-id="{{p.id}}"  href="{{url_for('fast.unfollow',id=p.id)}}">Unfollow</a>
   
            <h3 class="featurette-heading">
               {% if p.username%} {{ p.username }}{% endif %}
            </h3>
            <h4 class="featurette-heading">
            {% if p.email %}
            email:{{ p.email}}{% endif %}
            </h4>
            
        </div>
   
 </li>
 {% endfor %}
  </ul>
   </div>


  <!-- Footer -->
   <hr class="featurette-divider">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ashenafi Legehar  2014</p>
                </div>
            </div>
        </footer>
{% endblock %}





       
        




