{% extends "base.html" %}

{% block page_content %}
 
<div class="jumbotron">
        <h1>Friend Request</h1>
        <p class="lead">The app powered by flask! Enjoy!</p>
        <p><a class="btn btn-lg btn-success" href="{{url_for('fast.index')}}" role="button">Hunt Friend</a></p>
      </div>
 <ul class='user-list'>   
<div class="user-header">
 

 <ul class='user-list'>
{% for p in pinfo %}
  
    <li class="user">
 <div class="user-avatar"><img src="{{current_user.avatar(80)}}"></div>
   <p>
       Name: {% if p.first_name %}{{ p.first_name }}{% endif %}{% if p.last_name %} {{ p.last_name }}<br>{% endif %}
      
       {% include "fast/_request.html" %}
           
       Age: {% if p.age %}{{ p.age}}<br>{% endif %}
     
       Address: {% if p.location %}<a href="http://maps.google.com?q={{ p.location }}">{{ p.location }}</a><br>{% endif %}
    </p>
    {% if p.bio %}<p>{{ p.bio }}</p>{% endif %}
    
    </li>
    
{% endfor %} 


</ul>

</div>
</ul>
        

{% endblock %}























































