{% extends "base.html" %}
{% block page_content %}


<ul class="user-list">
    {% if current_user.is_authenticated() %}
    {% for p in user_list.items %}
 
   
    <li class="user">
      
     <div class="user-avatar"><img src="{{current_user.avatar(64)}}"></div>

   <p>
       Name: {% if p.first_name %}{{ p.first_name }}{% endif %}{% if p.last_name %} {{ p.last_name }}<br>{% endif %}
       Age: {% if p.age %}{{ p.age}}<br>{% endif %}
       Address: {% if p.location %}<a href="http://maps.google.com?q={{ p.location }}">{{ p.location }}</a><br>{% endif %}
    </p>
    {% if p.bio %}<p>{{ p.bio }}</p>{% endif %}
    </li>

{% endfor %}
 
</ul>
<ul class='pager'>
    
    {% if user_list.has_prev%}
    <li class="previous"><a href="{{ url_for('fast.index',id=user_list.id,  page=user_list.prev_num) }}#Entry">&larr; Older</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">&larr; Older</a></li>
    {% endif %}
    {% if user_list.has_next %}
    <li class="next"><a href="{{ url_for('fast.index',id=user_list.id, page=user_list.next_num) }}#Entry">Newer &rarr;</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Newer &rarr;</a></li>
    {% endif %}
    
</ul>
{% else %}

    
    
<div class="container">
      

      <div class="jumbotron">
        <h1>Fast Monkey app</h1>
        <p class="lead">The app powered by flask! Enjoy!</p>
        <p><a class="btn btn-lg btn-success" href="/Register" role="button">Sign up </a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>app feature</h4>
          <p>Add friends, follow, unfollow, delete and add best friend</p>

          
        </div>
      </div>

      <div class="footer">
        <p>&copy; ashenafi 2014</p>
      </div>

    </div



</div>




{% endif %}

{% endblock %}

