{% extends "base.html" %}
{% block page_content %}


<ul class="user-list">
    
    {% for p in user_list.items %}
 
   
    <li class="user">
        {% if current_user.id %}
     <div class="user-avatar"><img src="{{current_user.avatar(64)}}"></div>
 {% endif %}
   <p>
       Name: {% if p.first_name %}{{ p.first_name }}{% endif %}{% if p.last_name %} {{ p.last_name }}<br>{% endif %}
       Age: {% if p.age %}{{ p.age}}<br>{% endif %}
       Address: {% if p.location %}<a href="http://maps.google.com?q={{ p.location }}">{{ p.location }}</a><br>{% endif %}
    </p>
    {% if p.bio %}<p>{{ p.bio }}</p>{% endif %}
    </li>

{% endfor %}
</ul>
<ul class='pager'>
    
    {% if user_list.has_prev%}
    <li class="previous"><a href="{{ url_for('fast.index',id=user_list.id,  page=user_list.prev_num) }}#Entry">&larr; Older</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">&larr; Older</a></li>
    {% endif %}
    {% if user_list.has_next %}
    <li class="next"><a href="{{ url_for('fast.index',id=user_list.id, page=user_list.next_num) }}#Entry">Newer &rarr;</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Newer &rarr;</a></li>
    {% endif %}
    
</ul>
{% endblock %}

