{% extends "base.html" %}

{% block page_content %}
<div class="page-header user-profile">
    <div class="user-avatar"><img src="{{user.avatar(100)}}"></div>
    {% if user %}<a class="btn btn-default pull-right" href="{{ url_for('fast.edit', id=user.id) }}">Edit Profile</a>{% endif %}
    <h1>{{ user.name }}</h1>
    
      <h4>
        Age: {% if user.age %}{{ user.age}}{% endif %}
      </h4>
       
       <h4>
        Email: {% if user.email %}{{ user.email}}{% endif %}
       </h4>
    
   
</div>
 
{% endblock %}