{% extends "base.html" %}

{% block page_content %}


        
 <div class="container">
         <div class="jumbotron">
          <h1>Fast Monkey app</h1>
             <h2>Enjoy!</h2>
           </div>
               
         </div>
       
   
   
 <div class="container">
  <ul class='user-list'>
   {% for p in userlist %}
 <li class="user">
       

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="{{current_user.avatar(128)}}">
            {% if current_user.for_approval(True) %}
    <a class="btn btn-primary pull-right" name='add' data-id="{{p.id}}"  href="{{url_for('fast.friendadd',id=p.user_id)}}">+1 Add Friend</a>
    {% endif %}
            <h2 class="featurette-heading">
               {% if p.first_name %} {{ p.first_name }}{% endif %}{% if p.last_name %} {{ p.last_name }}{% endif %}
            </h2>
            {% if p.age %}<p class="lead"><span class="text-muted">Age : </span>{{ p.age}}{% endif %}</p>
            {% if p.location %}<p class="lead"><span class="text-muted">Location :</span><a href="http://maps.google.com?q={{ p.location }}">{{ p.location }}</a>{% endif %}</p>
            {% if p.bio %}<p class="lead"><span class="text-muted">Profession :</span>{{ p.bio }}</p>{% endif %}</p>
        </div>



   
 </li>
 {% endfor %}
  </ul>
   </div>
 {% if userlist %}
 <div class="pager">
<ul class="pager">
    {% if pagination.has_prev %}
    <li class="previous"><a href="{{ url_for('fast.user', username=user.username, page=pagination.prev_num) }}">&larr; Newer</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">&larr; Newer</a></li>
    {% endif %}
    {% if pagination.has_next %}
    <li class="next"><a href="{{ url_for('fast.user', username=user.username, page=pagination.next_num) }}">Older &rarr;</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Older &rarr;</a></li>
    {% endif %}
</ul>
</div>
{% endif %}
  <!-- Footer -->
   <hr class="featurette-divider">
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ashenafi Legehar  2014</p>
                </div>
            </div>
        </footer>
{% endblock %}





       
        



